<card-activity></card-activity>
<card-activity-avatars name="Arturo" description="Hola" time="12 de nov"></card-activity-avatars>
<card-activity-avatars name="Pepito" description="Hola" time="12 de nov"></card-activity-avatars>
<card-activity-avatars name="Arturo" description="Hola" time="12 de nov"></card-activity-avatars>
<card-activity-avatars name="Arturo" description="Hola" time="12 de nov"></card-activity-avatars>
<card-activity-avatars name="Arturo" description="Hola" time="12 de nov"></card-activity-avatars>