<div class="avatar">
    <avarar-circle [src]="obj.avatar"></avarar-circle>
</div>
<div class="content">
    <h2><span>{{obj.name}}</span> {{obj.description}}</h2>
    <div class="time-slot">
        <icon-menu icon="clock-1"></icon-menu><span>{{obj.time}}</span></div>

    <div class="mapa">
        <img _ngcontent-c1="" alt="" src="http://localhost:4000/assets/img/mapa.png">
    </div>
    <div class="total">
        <div class="tiempo">
            <div class="numero"> 128 </div>
            <div> Km </div>
        </div>
        <div class="tiempo">
            <div class="numero"> 2 </div>
            <div>días </div>
        </div>
        <div class="tiempo">
            <div class="numero"> 24 </div>
            <div>Mayo </div>
        </div>

    </div>


</div>