@import '../../../styles/vars';
:host {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;
    background: #2b3135;
}

icon-menu {
    color: $tri-color;
    height: 60px;
    border-bottom: 2px solid transparent;
    font-size: 26px;
    &:hover,
    &:active {
        opacity: 0.5;
        border-bottom-color: var()
    }
}

icon-circle {
    background-color: $sec-color;
    color: $tri-color
}