@import '../../../../styles/vars';
:host {
    display: flex;
}

button {
    flex: 1 1;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 14px;
    border: $sec-color 0.05rem solid;
    background-color: $pri-btn-color;
    transition: background-color .5s, border-color .5s;
}

:host[ng-reflect-disabled="true"] button {
    background-color: $sec-btn-color;
    border-color: $sec-btn-color;
}