<div class="avatar">
    <avarar-circle src="https://lh3.googleusercontent.com/-QiCYk5LjgZk/AAAAAAAAAAI/AAAAAAAAADU/4KpOrrYEz9o/s120-p-rw-no/photo.jpg"></avarar-circle>
</div>
<div class="content">
    <h2><span>{{name}}</span> {{descriptor}}</h2>
    <div class="time-slot">
        <icon-menu icon="clock-1"></icon-menu><span>{{time}}</span></div>
    <div class="avatares"><img src="https://lh3.googleusercontent.com/-QiCYk5LjgZk/AAAAAAAAAAI/AAAAAAAAADU/4KpOrrYEz9o/s120-p-rw-no/photo.jpg">
        <img src="https://lh3.googleusercontent.com/-QiCYk5LjgZk/AAAAAAAAAAI/AAAAAAAAADU/4KpOrrYEz9o/s120-p-rw-no/photo.jpg"> <img src="https://lh3.googleusercontent.com/-QiCYk5LjgZk/AAAAAAAAAAI/AAAAAAAAADU/4KpOrrYEz9o/s120-p-rw-no/photo.jpg"></div>
</div>