<div class="avatar">
    <avarar-circle [src]="obj.avatar"></avarar-circle>
</div>
<div class="content">
    <h2><span>{{obj.name}}</span> {{obj.description}}</h2>
    <div class="time-slot">
        <icon-menu icon="clock-1"></icon-menu><span>{{obj.time}}</span></div>
    <div class="images">
        <div class="images" *ngIf="obj?.images?.length">
            <img [src]="obj.images[0]">
            <img [src]="obj.images[1]">
        </div>
        <div>
            <span class="mas">{{obj.number}}</span></div>
    </div>

</div>