<div class="avatar">
    <avarar-circle src="https://lh3.googleusercontent.com/-QiCYk5LjgZk/AAAAAAAAAAI/AAAAAAAAADU/4KpOrrYEz9o/s120-p-rw-no/photo.jpg"></avarar-circle>
</div>
<div class="content">
    <h2><span>{{nameTitle}}</span> {{textTitle}}</h2>
    <div class="time-slot">
        <icon-menu icon="clock-1"></icon-menu><span>{{timeSlot}}</span></div>
    <div class="images"><img src="https://lh3.googleusercontent.com/-QiCYk5LjgZk/AAAAAAAAAAI/AAAAAAAAADU/4KpOrrYEz9o/s120-p-rw-no/photo.jpg">
        <img src="https://lh3.googleusercontent.com/-QiCYk5LjgZk/AAAAAAAAAAI/AAAAAAAAADU/4KpOrrYEz9o/s120-p-rw-no/photo.jpg"> <span class="mas">+3</span></div>

</div>