<card-events avatar="https://lh3.googleusercontent.com/-QiCYk5LjgZk/AAAAAAAAAAI/AAAAAAAAADU/4KpOrrYEz9o/s120-p-rw-no/photo.jpg" [images]="['https://lh3.googleusercontent.com/-QiCYk5LjgZk/AAAAAAAAAAI/AAAAAAAAADU/4KpOrrYEz9o/s120-p-rw-no/photo.jpg','https://lh3.googleusercontent.com/-QiCYk5LjgZk/AAAAAAAAAAI/AAAAAAAAADU/4KpOrrYEz9o/s120-p-rw-no/photo.jpg','https://lh3.googleusercontent.com/-QiCYk5LjgZk/AAAAAAAAAAI/AAAAAAAAADU/4KpOrrYEz9o/s120-p-rw-no/photo.jpg','https://lh3.googleusercontent.com/-QiCYk5LjgZk/AAAAAAAAAAI/AAAAAAAAADU/4KpOrrYEz9o/s120-p-rw-no/photo.jpg','https://lh3.googleusercontent.com/-QiCYk5LjgZk/AAAAAAAAAAI/AAAAAAAAADU/4KpOrrYEz9o/s120-p-rw-no/photo.jpg']"
    name="Diana Santoss" description="ha creado un evento" time="27/07/2017 17:00">
</card-events>
<div class="boton">
    <ip-button label="Quiero asistir"></ip-button>
</div>