:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 2.5em;
    min-height: 2.5em;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

img {
    width: 100%;
}