@font-face {
    font-family: "BebasNeue";
    src: url("/assets/font/fBebasNeue.otf");
    src: url("/assets/font/BebasNeue.otf") format("opentype");
    font-style: normal;
}

:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span {
    text-transform: uppercase;
    font-family: BebasNeue;
    font-size: 12px;
    letter-spacing: 0.4px;
}